    <div class="py-5 pb-5 bg-rose-700 border-b-2 border-rose-900 mb-2">
        <div  class="container mx-auto flex justify-between items-center">
            <div>
                <h1 class="text-white font-bold">ALURAFLIX</h1>
                <p class="text-rose-300 font-semibold pl-5">O seu repositório central para conteúdo tech!</p>
            </div>
            <div>
                <p></p>
                <p class="text-rose-100 font-semibold pr-5">  <span class="text-rose-900">></span> Johnathan Radünz Nunes</p>
            </div>
        </div>
    </div>