<section class="mb-8"> 
  <p id="notice"><%= notice %></p>

  <div class="flex justify-between items-end">
    <h1 class="text-xl mt-6 mb-2">Adicionar um novo vídeo</h1> 
  </div>

  <%= render 'form', video: @video %>

  <div class="actions">
    <%= link_to 'Back', videos_path %>
  </div>

</section>


