<section class="mb-8 w-1/3 mx-auto"> 
  <p id="notice"><%= notice %></p>

  <div class="flex justify-between items-end">
    <h1 class="text-xl mt-6 mb-2">Adicionar um novo vídeo</h1> 
  </div>

  <%= render 'form', video: @video %>

    <button class="bg-white border rounded border-rose-900 text-rose-900 font-bold py-2 px-5 my-5"><%= link_to 'Voltar', videos_path %></button>


</section>


