<p id="notice"><%= notice %></p>

<section class="hero">
 <div class="flex flex-col">
    <h1 class="text-xl mt-6 mb-2 text-rose-800">Que tal esse aqui?</h1>
    <%= render partial: "videos/hero" %>
  </div>
</section>

<section class="mb-8"> 

  <div class="flex justify-between items-end">
    <h1 class="text-xl mt-6 mb-2 text-rose-800">Ok... vamos encontrar outra coisa?</h1> 
    <p class="bg-gradient-to-r from-rose-700 to-rose-600 border rounded text-white font-bold py-2 px-3 mr-5 md:mr-0 border-rose-900"> <%= link_to 'Vídeo Aleatório', new_video_path %> </p>
  </div>

  <section class="grid grid-cols-4">
    <% @videos.each do |video| %>
        <%= render partial: "videos/card", locals: {video: video} %>
    <% end %>
  </section>

  <br>
</section>