@import 'tailwindcss/base';
@import 'tailwindcss/components';

/*! purgecss start ignore */

.hero {
    min-height: 90vh;
}

.field {
    
}

.field label {
    display: block;
    @apply mt-2
}

.field input {
    @apply border border-gray-500 rounded-md px-4 py-2 mb-2;
    width: 100%;

}

.field textarea {
    @apply border border-gray-500 rounded-md px-4 py-2;
    width: 100%;
    height: 150px;

}

.actions {
    @apply mt-5
}

/*! purgecss end ignore */
@import 'tailwindcss/utilities';
